$border-color: #000000;

#blog-newpost
{
    width: 50%;
    border: 1px solid $border-color;
    padding: 1em;

    form 
    {
        input 
        {
            width: 25em;
        }
        textarea
        {
            width: 25em;
            height: 10em;
        }
    }
}

#blogs-wrapper
{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
}

#blogs-header
{
    width: 100%;
}

.blog-post
{
    width: 100%;
    margin-top: 1em;
}