$border-color: #000000;

#blog-newpost
{
    width: 50%;
    border: 1px solid $border-color;
    padding: 1em;

    form 
    {
        input 
        {
            width: 25em;
        }
        textarea
        {
            width: 25em;
            height: 10em;
        }
    }
}

