$border-color: #000000;

.text-button
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#forum-category-header /* rename this! */
{
    width: 50%;
    border: 1px solid $border-color;
}

.forum-border-right
{
    border-right: 1px solid $border-color;
}
