@import 'news';
@import 'blog';

$background-color: #FFFFFF;
$text-color: #000000;
$border-color: #000000;
$font-size: 1em;

html
{
    width: 100%;
}

body
{
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

header 
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1em;
}

main
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-color;
    padding: 1em;
}

nav
{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    ul 
    {
        list-style-type: none;
    }
    li 
    {
        display: inline;
    }
    li + li:before
    {
        content: " - ";
    }
}

a 
{
    color: $text-color;
}

#wrapper
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid $border-color;
    padding: 1em;
}