$border-color: #000000;

#news-wrapper
{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
}

.news-post
{
    width: 100%;
    border: 1px solid $border-color;
    margin-bottom: 1em;
    padding: 1em;
}

.news-post-title
{
    width: 100%;
}

.news-post-text
{
    width: 100%;
}

.news-post-info
{
    width: 100%;
}

#news-post-comments
{
    border: 1px solid $border-color;
    padding: 1em;
}

.news-post-comment
{
    padding: 1em 0;
}

.news-post-comment:not(:last-child)
{
    border-bottom: 1px solid $border-color;
}