
body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

main
{
    width: 100%;
}

#headers
{
    width: 100%;
}

#todo-header
{
    width: 50%;
}

#done-header
{
    width: 50%;
}

#items
{
    width: 100%;
}

#todo-items
{
    width: 50%;
}

#done-items
{
    width: 50%;
}