
body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

main
{
    width: 100%;
    border: 1px solid #000000;
}

a
{
    color: black;
}

#headers
{
    width: 100%;
}

#wrapper
{
    padding: 1em;
}

.todo-item
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.todo-task
{
    width: 40%;
}

.todo-done
{
    width: 10%;
}

.red
{
    color: red;
}

.hidden
{
    display: none;
}